#cabeza{
    background: blue;
    height: 120px;
    margin: none;
    
}
#cabIzq{
    width: 20%;
    float: left;
}
#cabder{
    width: 40%;
    float: right;
}
#menu{
    background: gray;
    clear: both;
}
#CuerpoNavegacion{
    background: lightblue;
}
#PiePagina{
    background: blue;
}